/** Import of sass elements  **/
/** mixin lanoteenchantee **/
/** END of mixin lanoteenchantee **/
/** mixin lechicalafrancaise **/
/** END of mixin lechicalafrancaise **/
/** mixin ledelicedespapilles **/
/** END of mixin ledelicedespapilles **/
/** mixin lapalettedugout **/
/** END of mixin lapalettedugout **/
/** mixin breakpoints media **/
/** END of mixin breakpoints media **/
/**@import "./vendors";**/
/** Thanks to Eric Meyer for this gift. **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** END of Eric Meyer Reset **/
.button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 540px;
  height: 764px;
  margin: 50px;
  box-shadow: 0 0 10px grey;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms 150ms ease-out;
}
.button h2, .button a, .button .fas {
  transition: transform 450ms ease-in-out;
}
.button:hover {
  opacity: 0.5;
}
.button:hover .button {
  transform: scale(1);
}
.button:hover h2 {
  transform: scale(1.15);
}
.button:hover .fas {
  transform: scale(1.15);
}
.button:hover a {
  transform: scale(1.4);
}

.button-lanoteenchantee {
  background-color: #fcdfdb;
}
.button-lanoteenchantee .fas {
  font-size: 80px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button-lanoteenchantee h2 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
}
.button-lanoteenchantee a {
  font-family: "segoeregular", "Arial", sans-serif;
  color: #3d1319;
  font-size: 60px;
  font-weight: bolder;
}

.button-lechicalafrancaise {
  background-color: #fff5fd;
}
.button-lechicalafrancaise h2 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-bottom: 70px;
}
.button-lechicalafrancaise a {
  font-family: "Cantata One", serif;
  color: #e38a12;
  font-weight: bolder;
  font-size: 80px;
}

.button-ledelicedespapilles {
  background-color: #f0faff;
}
.button-ledelicedespapilles h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 60px;
  padding-left: 15px;
  padding-bottom: 70px;
}
.button-ledelicedespapilles a {
  color: #0887f1;
  font-family: "segoeregular", "Arial", sans-serif;
  font-size: 70px;
}

.button-lapalettedugout {
  background-color: #eaffea;
}
.button-lapalettedugout h2 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 60px;
  padding-bottom: 70px;
}
.button-lapalettedugout a {
  color: #72bf56;
  font-family: "segoeregular", "Arial", sans-serif;
  font-size: 70px;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  max-height: 2388px;
}

.menucontainer {
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 240px;
  position: absolute;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1600px) {
  .menucontainer {
    margin-top: -80px;
    padding-bottom: 130px;
  }
}

header {
  display: flex;
  max-width: 100%;
  height: 245px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #579C87;
  border-bottom: 1px solid #a1c181;
}
@media screen and (max-width: 1600px) {
  header {
    height: 150px;
  }
}

article {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

aside {
  display: flex;
  width: 650px;
  height: 80px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 20px;
  background-color: #579C87;
}
@media screen and (max-width: 1600px) {
  aside {
    margin-bottom: 0px;
  }
}

footer {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  border-top: 1px solid #a1c181;
  background-color: #579C87;
}
@media screen and (max-width: 1600px) {
  footer {
    flex-wrap: wrap;
    padding: 25px;
  }
}

footer a:hover {
  animation: wiggle 3000ms infinite;
}
@keyframes wiggle {
  0%, 4%, 7%, 10% {
    transform: rotate(0deg);
  }
  2%, 5%, 8% {
    transform: rotate(-4deg);
  }
  3%, 6%, 9% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logo a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}

.restotitle {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.restomenu {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 1190px;
  min-width: 90%;
  margin: 10px;
  padding-top: 90px;
  box-shadow: 0 0 10px grey;
}
@media screen and (max-width: 1200px) {
  .restomenu {
    max-width: 90%;
  }
}

.firstpartmenu, .secondpartmenu, .thirdpartmenu {
  width: 100%;
  padding-top: 40px;
}

.course {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;
}

.course-title {
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: center;
}

.choice {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding-left: 100px;
  font-size: 25px;
}

.price {
  display: flex;
  justify-content: flex-end;
  width: 10%;
  padding-right: 100px;
  font-weight: bolder;
  font-size: 25px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 40px;
}

.footmenu {
  padding-top: 50px;
  padding-bottom: 90px;
}

/**@import "./pages";**/
/** Fonts **/
@font-face {
  font-family: "devonshire";
  src: url("../fontmenu/devonshire-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoebold";
  src: url("../fontmenu/Segoe_Print_Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissantone";
  src: url("../fontmenu/croissantone-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoeregular";
  src: url("../fontmenu/segoepr.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushanscript";
  src: url("../fontmenu/kaushanscript-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/** END of Fonts **/
/** Decorations sizes and fonts ohmyfood page **/
h1, aside h2, footer a {
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}

h1 {
  letter-spacing: -5px;
  font-size: 70px;
  font-weight: bolder;
}

aside {
  font-weight: lighter;
  height: 130px;
  flex-direction: row;
  align-items: baseline;
  padding-top: 30px;
  justify-content: center;
  width: 650px;
  height: 80px;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 20px;
  background-color: #579C87;
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}

.next {
  font-size: 40px;
  padding-right: 10px;
}

.dots span:nth-child(2) {
  animation-delay: 300ms;
}

.dots span:nth-child(3) {
  animation-delay: 600ms;
}

.dots span {
  width: 7px;
  height: 7px;
  margin: 0 3px;
  background-color: #fcca46;
  border-radius: 50%;
  display: inline-block;
  animation: dotsanimation 1500ms infinite ease-in-out;
}

@keyframes dotsanimation {
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
  }
}
footer a {
  font-size: 30px;
}

a {
  text-decoration: none;
}

/** END of Decorations sizes and fonts ohmyfood page **/
.restomenu-lanoteenchantee {
  background-color: #fcdfdb;
}
.restomenu-lanoteenchantee .fas {
  font-size: 80px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restomenu-lanoteenchantee h4 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 70px;
}
.restomenu-lanoteenchantee h5, .restomenu-lanoteenchantee p {
  font-family: "segoeregular", "Arial", sans-serif;
  color: #3d1319;
}
.restomenu-lanoteenchantee h5 span {
  position: relative;
}
.restomenu-lanoteenchantee h5 span::before {
  content: "";
  background-color: #3d1319;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.restomenu-lanoteenchantee h5 span:hover::before {
  width: 100%;
  left: 0;
}
.restomenu-lanoteenchantee h5 {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.restomenu-lanoteenchantee h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #3d1319;
}
.restomenu-lanoteenchantee h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #3d1319;
}

.footmenu-lanoteenchantee {
  display: flex;
  align-items: center;
}
.footmenu-lanoteenchantee .fas {
  font-size: 50px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footmenu-lanoteenchantee h2 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 50px;
  padding-left: 15px;
}

.restomenu-lechicalafrancaise {
  background-color: #fff5fd;
}
.restomenu-lechicalafrancaise h4 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}
.restomenu-lechicalafrancaise .price {
  font-weight: lighter;
}

.firstpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 25px;
  font-family: "Cantata One", serif;
  color: #e38a12;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.firstpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.firstpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #e38a12;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #e38a12;
}
.firstpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #e38a12;
}

.secondpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 25px;
  font-family: "Cantata One", serif;
  color: #a56799;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.secondpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.secondpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #a56799;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #a56799;
}
.secondpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #a56799;
}

.thirdpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 25px;
  font-family: "Cantata One", serif;
  color: #6e4ccc;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.thirdpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.thirdpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #6e4ccc;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #6e4ccc;
}
.thirdpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #6e4ccc;
}

.firstpartmenu-lechicalafrancaise p {
  font-family: "Cantata One", serif;
  color: #e38a12;
}

.secondpartmenu-lechicalafrancaise p {
  font-family: "Cantata One", serif;
  color: #a56799;
}

.thirdpartmenu-lechicalafrancaise p {
  font-family: "Cantata One", serif;
  color: #6e4ccc;
}

.footmenu-lechicalafrancaise h2 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-left: 15px;
}

.restomenu-ledelicedespapilles {
  background-color: #f0faff;
}
.restomenu-ledelicedespapilles h4 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 80px;
  padding-left: 15px;
}
.restomenu-ledelicedespapilles h5, .restomenu-ledelicedespapilles p {
  color: #000;
  font-family: "segoeregular", "Arial", sans-serif;
}
.restomenu-ledelicedespapilles .price {
  font-weight: lighter;
}

.firstpartmenu-ledelicedespapilles h5 {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.firstpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.firstpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0229dd;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0229dd;
}
.firstpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0229dd;
}

.secondpartmenu-ledelicedespapilles h5 {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.secondpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.secondpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0670f3;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0670f3;
}
.secondpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0670f3;
}

.thirdpartmenu-ledelicedespapilles h5 {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.thirdpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.thirdpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0889fb;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0889fb;
}
.thirdpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0889fb;
}

.footmenu-ledelicedespapilles h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 50px;
  padding-left: 15px;
}

.restomenu-lapalettedugout {
  background-color: #eaffea;
}
.restomenu-lapalettedugout h4 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 80px;
}
.restomenu-lapalettedugout h5, .restomenu-lapalettedugout p {
  color: #000;
  font-family: "segoeregular", "Arial", sans-serif;
}
.restomenu-lapalettedugout .price {
  font-weight: lighter;
}
.restomenu-lapalettedugout h5 {
  display: flex;
  font-size: 30px;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}

.firstpartmenu-lapalettedugout h5 span {
  position: relative;
}
.firstpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #06923a;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #06923a;
}
.firstpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #06923a;
}

.secondpartmenu-lapalettedugout h5 span {
  position: relative;
}
.secondpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #72bf56;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #72bf56;
}
.secondpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #72bf56;
}

.thirdpartmenu-lapalettedugout h5 span {
  position: relative;
}
.thirdpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #beff7d;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #beff7d;
}
.thirdpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #beff7d;
}

.footmenu-lapalettedugout h2 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 50px;
}

/** END of Import of sass elements **/

/*# sourceMappingURL=style.css.map */
