/** Import of sass elements  **/
/** Animations **/
/** END of Animations **/
/** mixin lanoteenchantee **/
/** END of mixin lanoteenchantee **/
/** mixin lechicalafrancaise **/
/** END of mixin lechicalafrancaise **/
/** mixin ledelicedespapilles **/
/** END of mixin ledelicedespapilles **/
/** mixin lapalettedugout **/
/** END of mixin lapalettedugout **/
/** mixin breakpoints media **/
/** END of mixin breakpoints media **/
/**@import "./vendors";**/
/** Thanks to Eric Meyer for this gift. **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** END of Eric Meyer Reset **/
.button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 540px;
  height: 764px;
  margin: 50px;
  box-shadow: 0 0 10px grey;
  opacity: 1;
  transition: all 200ms 100ms ease-in-out;
}
.button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .button {
    height: 480px;
  }
}
@media screen and (max-width: 576px) {
  .button {
    height: 380px;
  }
}

.button h2 {
  margin: 30px;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: 100%;
  max-height: 2388px;
}

h1, aside h2, footer a {
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}

.menuscontainer {
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 240px;
  position: absolute;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 130px;
}
@media screen and (max-width: 1600px) {
  .menuscontainer {
    margin-top: -80px;
    padding-bottom: 110px;
  }
}
@media screen and (max-width: 768px) {
  .menuscontainer {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 576px) {
  .menuscontainer {
    padding-bottom: 50px;
  }
}

header {
  display: flex;
  max-width: 100%;
  height: 245px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #579C87;
  border-bottom: 1px solid #a1c181;
}
@media screen and (max-width: 1600px) {
  header {
    height: 150px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    height: 140px;
  }
}
@media screen and (max-width: 992px) {
  header {
    height: 130px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 120px;
  }
}
@media screen and (max-width: 576px) {
  header {
    height: 100px;
  }
}

h1 {
  letter-spacing: -5px;
  font-size: 100px;
  font-weight: bolder;
}
@media screen and (max-width: 1600px) {
  h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
}

article {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

aside {
  display: flex;
  width: 650px;
  height: auto;
  align-self: center;
  justify-content: center;
  align-items: baseline;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #579C87;
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}
aside .dots span:nth-child(2) {
  animation-delay: 300ms;
}
aside .dots span:nth-child(3) {
  animation-delay: 600ms;
}
aside .dots span {
  width: 7px;
  height: 7px;
  margin: 0 3px;
  background-color: #fcca46;
  border-radius: 50%;
  display: inline-block;
  animation: dotsanimation 1500ms infinite ease-in-out;
}
@media screen and (max-width: 768px) {
  aside .dots span {
    width: 4px;
    height: 4px;
    margin: 0 2px;
  }
}
@media screen and (max-width: 576px) {
  aside .dots span {
    width: 4px;
    height: 4px;
    margin: 0 1px;
  }
}
@keyframes dotsanimation {
  50% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1600px) {
  aside {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  aside {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 70%;
  }
}
@media screen and (max-width: 576px) {
  aside {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
  }
}

.next {
  font-size: 40px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  .next {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .next {
    font-size: 25px;
  }
}

footer {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 40px;
  border-top: 1px solid #a1c181;
  background-color: #579C87;
}
@media screen and (max-width: 1600px) {
  footer {
    padding: 25px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 12px;
  }
}
@media screen and (max-width: 576px) {
  footer {
    padding: 10px;
  }
}

footer a {
  font-size: 40px;
}
footer a:hover {
  animation: wiggle 3000ms infinite;
}
@keyframes wiggle {
  0%, 4%, 7%, 10% {
    transform: rotate(0deg);
  }
  2%, 5%, 8% {
    transform: rotate(-4deg);
  }
  3%, 6%, 9% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 1600px) {
  footer a {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  footer a {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  footer a {
    width: 100%;
    justify-content: space-between;
    padding: 2px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fcca46;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 40px;
}
@media screen and (max-width: 576px) {
  h3 {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

.restotitle {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.restomenu {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 1190px;
  min-width: 90%;
  margin: 50px;
  padding-top: 150px;
  box-shadow: 0 0 10px grey;
}
@media screen and (max-width: 576px) {
  .restomenu {
    max-width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.restomenu h4, h5 {
  text-align: center;
}

.firstpartmenu, .secondpartmenu, .thirdpartmenu {
  width: 100%;
  padding-top: 40px;
}

.course {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .course {
    flex-direction: column;
  }
}

.course-title {
  padding-top: 50px;
  padding-bottom: 40px;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .course-title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.choice {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  padding-left: 100px;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .choice {
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 576px) {
  .choice {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 15px;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  width: 10%;
  padding-right: 100px;
  font-weight: bolder;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .price {
    text-align: center;
    font-size: 25px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .price {
    font-size: 18px;
    width: 100%;
    justify-content: center;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

.footmenu {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 120px;
}
@media screen and (max-width: 576px) {
  .footmenu {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/** Fonts **/
@font-face {
  font-family: "devonshire";
  src: url("../fontmenu/devonshire-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoebold";
  src: url("../fontmenu/Segoe_Print_Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissantone";
  src: url("../fontmenu/croissantone-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "segoeregular";
  src: url("../fontmenu/segoepr.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushanscript";
  src: url("../fontmenu/kaushanscript-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/** END of Fonts **/
.button-lanoteenchantee {
  background-color: #fcdfdb;
}
.button-lanoteenchantee .fas {
  font-size: 70px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 576px) {
  .button-lanoteenchantee .fas {
    font-size: 30px;
  }
}
.button-lanoteenchantee h2 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 60px;
}
@media screen and (max-width: 576px) {
  .button-lanoteenchantee h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
.button-lanoteenchantee a {
  font-family: "segoeregular", "Arial", sans-serif;
  color: #3d1319;
  font-size: 50px;
  font-weight: bolder;
}
@media screen and (max-width: 576px) {
  .button-lanoteenchantee a {
    font-size: 30px;
  }
}

.button-lanoteenchantee--zoom {
  opacity: 1;
  transform: scale(1);
}
.button-lanoteenchantee--zoom h2, .button-lanoteenchantee--zoom a, .button-lanoteenchantee--zoom .fas {
  transition: transform 300ms ease-in-out;
}
.button-lanoteenchantee--zoom:hover h2, .button-lanoteenchantee--zoom:hover .fas {
  opacity: 0.5;
  transform: scale(1.15);
}
.button-lanoteenchantee--zoom:hover a {
  opacity: 0.5;
  transform: scale(1.3);
}

.restomenu-lanoteenchantee {
  background-color: #fcdfdb;
  padding-top: 90px;
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee {
    padding-top: 40px;
  }
}
.restomenu-lanoteenchantee .fas {
  font-size: 90px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 992px) {
  .restomenu-lanoteenchantee .fas {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee .fas {
    font-size: 40px;
  }
}
.restomenu-lanoteenchantee h4 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 80px;
}
@media screen and (max-width: 992px) {
  .restomenu-lanoteenchantee h4 {
    font-size: 60px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee h4 {
    font-size: 35px;
  }
}
.restomenu-lanoteenchantee h5, .restomenu-lanoteenchantee p {
  font-family: "segoeregular", "Arial", sans-serif;
  color: #3d1319;
}
.restomenu-lanoteenchantee h5 span {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.restomenu-lanoteenchantee h5 span::before {
  content: "";
  background-color: #3d1319;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.restomenu-lanoteenchantee h5 span:hover::before {
  width: 100%;
  left: 0;
}
.restomenu-lanoteenchantee h5 {
  display: flex;
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.restomenu-lanoteenchantee h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #3d1319;
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.restomenu-lanoteenchantee h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #3d1319;
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .restomenu-lanoteenchantee h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .restomenu-lanoteenchantee h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lanoteenchantee h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .restomenu-lanoteenchantee .choice {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .restomenu-lanoteenchantee .price {
    font-size: 20px;
  }
}

.footmenu-lanoteenchantee {
  display: flex;
  align-items: center;
}
.footmenu-lanoteenchantee .fas {
  font-size: 60px;
  padding-top: 15px;
  background: linear-gradient(to right, #f05060, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 992px) {
  .footmenu-lanoteenchantee .fas {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .footmenu-lanoteenchantee .fas {
    font-size: 20px;
    padding-top: 10px;
  }
}
.footmenu-lanoteenchantee h2 {
  font-family: "devonshire", "Arial", sans-serif;
  color: #3d1319;
  font-size: 60px;
  padding-left: 15px;
}
@media screen and (max-width: 992px) {
  .footmenu-lanoteenchantee h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .footmenu-lanoteenchantee h2 {
    font-size: 30px;
  }
}

.button-lechicalafrancaise {
  background-color: #fff5fd;
}
.button-lechicalafrancaise h2 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 33px;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}
@media screen and (max-width: 576px) {
  .button-lechicalafrancaise h2 {
    font-size: 20px;
    padding-bottom: 30px;
  }
}
.button-lechicalafrancaise a {
  font-family: "Cantata One", serif;
  color: #e38a12;
  font-weight: bolder;
  font-size: 60px;
}
@media screen and (max-width: 576px) {
  .button-lechicalafrancaise a {
    font-size: 30px;
  }
}

.button-lechicalafrancaise--zoom {
  opacity: 1;
  transform: scale(1);
}
.button-lechicalafrancaise--zoom h2, .button-lechicalafrancaise--zoom a, .button-lechicalafrancaise--zoom .fas {
  transition: transform 300ms ease-in-out;
}
.button-lechicalafrancaise--zoom:hover h2, .button-lechicalafrancaise--zoom:hover .fas {
  opacity: 0.5;
  transform: scale(1.15);
}
.button-lechicalafrancaise--zoom:hover a {
  opacity: 0.5;
  transform: scale(1.3);
}

.restomenu-lechicalafrancaise {
  background-color: #fff5fd;
}
.restomenu-lechicalafrancaise h4 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  padding-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .restomenu-lechicalafrancaise h4 {
    font-size: 45px;
  }
}
@media screen and (max-width: 768px) {
  .restomenu-lechicalafrancaise h4 {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lechicalafrancaise h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 992px) {
  .restomenu-lechicalafrancaise .choice {
    font-size: 20px;
  }
}
.restomenu-lechicalafrancaise .price {
  font-weight: initial;
}
@media screen and (max-width: 992px) {
  .restomenu-lechicalafrancaise .price {
    font-size: 20px;
  }
}

.firstpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Cantata One", serif;
  color: #e38a12;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.firstpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.firstpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #e38a12;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #e38a12;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lechicalafrancaise h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.firstpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #e38a12;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lechicalafrancaise h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .firstpartmenu-lechicalafrancaise h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .firstpartmenu-lechicalafrancaise h5 {
    width: auto;
    justify-content: space-around;
    font-size: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lechicalafrancaise h5 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.secondpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Cantata One", serif;
  color: #a56799;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.secondpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.secondpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #a56799;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #a56799;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lechicalafrancaise h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.secondpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #a56799;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lechicalafrancaise h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .secondpartmenu-lechicalafrancaise h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .secondpartmenu-lechicalafrancaise h5 {
    width: auto;
    justify-content: space-around;
    font-size: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lechicalafrancaise h5 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.thirdpartmenu-lechicalafrancaise h5 {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Cantata One", serif;
  color: #6e4ccc;
  width: 100%;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  align-items: center;
}
.thirdpartmenu-lechicalafrancaise h5 span {
  position: relative;
}
.thirdpartmenu-lechicalafrancaise h5 span::before {
  content: "";
  background-color: #6e4ccc;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-lechicalafrancaise h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-lechicalafrancaise h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #6e4ccc;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lechicalafrancaise h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.thirdpartmenu-lechicalafrancaise h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #6e4ccc;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lechicalafrancaise h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .thirdpartmenu-lechicalafrancaise h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .thirdpartmenu-lechicalafrancaise h5 {
    width: auto;
    justify-content: space-around;
    font-size: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lechicalafrancaise h5 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.firstpartmenu-lechicalafrancaise {
  font-family: "Cantata One", serif;
  color: #e38a12;
}

.secondpartmenu-lechicalafrancaise p {
  font-family: "Cantata One", serif;
  color: #a56799;
}

.thirdpartmenu-lechicalafrancaise p {
  font-family: "Cantata One", serif;
  color: #6e4ccc;
}

.footmenu-lechicalafrancaise h2 {
  font-family: "croissantone", "Arial", sans-serif;
  background: linear-gradient(to right bottom, #e38a12, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .footmenu-lechicalafrancaise h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .footmenu-lechicalafrancaise h2 {
    font-size: 20px;
  }
}

.button-ledelicedespapilles {
  background-color: #f0faff;
}
.button-ledelicedespapilles h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  padding-left: 15px;
  padding-bottom: 70px;
}
@media screen and (max-width: 576px) {
  .button-ledelicedespapilles h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
.button-ledelicedespapilles a {
  color: #0887f1;
  font-family: "segoeregular", "Arial", sans-serif;
  font-size: 60px;
}
@media screen and (max-width: 576px) {
  .button-ledelicedespapilles a {
    font-size: 30px;
  }
}

.button-ledelicedespapilles--zoom {
  opacity: 1;
  transform: scale(1);
}
.button-ledelicedespapilles--zoom h2, .button-ledelicedespapilles--zoom a, .button-ledelicedespapilles--zoom .fas {
  transition: transform 300ms ease-in-out;
}
.button-ledelicedespapilles--zoom:hover h2, .button-ledelicedespapilles--zoom:hover .fas {
  opacity: 0.5;
  transform: scale(1.15);
}
.button-ledelicedespapilles--zoom:hover a {
  opacity: 0.5;
  transform: scale(1.3);
}

.restomenu-ledelicedespapilles {
  background-color: #f0faff;
}
.restomenu-ledelicedespapilles h4 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 110px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .restomenu-ledelicedespapilles h4 {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-ledelicedespapilles h4 {
    font-size: 40px;
    padding-bottom: 0px;
  }
}
.restomenu-ledelicedespapilles h5, .restomenu-ledelicedespapilles p {
  color: #000;
  font-family: "segoeregular", "Arial", sans-serif;
}
.restomenu-ledelicedespapilles .choice {
  font-size: 25px;
  padding-left: 200px;
}
@media screen and (max-width: 992px) {
  .restomenu-ledelicedespapilles .choice {
    font-size: 22px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-ledelicedespapilles .choice {
    width: 90%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.restomenu-ledelicedespapilles .price {
  font-size: 25px;
  padding-right: 200px;
  font-weight: lighter;
}
@media screen and (max-width: 992px) {
  .restomenu-ledelicedespapilles .price {
    font-size: 22px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-ledelicedespapilles .price {
    width: 90%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.firstpartmenu-ledelicedespapilles h5 {
  font-size: 35px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
.firstpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.firstpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0229dd;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0229dd;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-ledelicedespapilles h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.firstpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0229dd;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-ledelicedespapilles h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .firstpartmenu-ledelicedespapilles h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .firstpartmenu-ledelicedespapilles h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .firstpartmenu-ledelicedespapilles h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.secondpartmenu-ledelicedespapilles h5 {
  font-size: 35px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
.secondpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.secondpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0670f3;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0670f3;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-ledelicedespapilles h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.secondpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0670f3;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-ledelicedespapilles h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .secondpartmenu-ledelicedespapilles h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .secondpartmenu-ledelicedespapilles h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .secondpartmenu-ledelicedespapilles h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.thirdpartmenu-ledelicedespapilles h5 {
  font-size: 35px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
.thirdpartmenu-ledelicedespapilles h5 span {
  position: relative;
}
.thirdpartmenu-ledelicedespapilles h5 span::before {
  content: "";
  background-color: #0889fb;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-ledelicedespapilles h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-ledelicedespapilles h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0889fb;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-ledelicedespapilles h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.thirdpartmenu-ledelicedespapilles h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #0889fb;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-ledelicedespapilles h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 992px) {
  .thirdpartmenu-ledelicedespapilles h5 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .thirdpartmenu-ledelicedespapilles h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-ledelicedespapilles h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.footmenu-ledelicedespapilles h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(to right bottom, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 70px;
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .footmenu-ledelicedespapilles h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 576px) {
  .footmenu-ledelicedespapilles h2 {
    font-size: 30px;
  }
}

.button-lapalettedugout {
  background-color: #eaffea;
}
.button-lapalettedugout h2 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  padding-bottom: 70px;
}
@media screen and (max-width: 576px) {
  .button-lapalettedugout h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
.button-lapalettedugout a {
  color: #72bf56;
  font-family: "segoeregular", "Arial", sans-serif;
  font-size: 60px;
}
@media screen and (max-width: 576px) {
  .button-lapalettedugout a {
    font-size: 30px;
  }
}

.button-lapalettedugout--zoom {
  opacity: 1;
  transform: scale(1);
}
.button-lapalettedugout--zoom h2, .button-lapalettedugout--zoom a, .button-lapalettedugout--zoom .fas {
  transition: transform 300ms ease-in-out;
}
.button-lapalettedugout--zoom:hover h2, .button-lapalettedugout--zoom:hover .fas {
  opacity: 0.5;
  transform: scale(1.15);
}
.button-lapalettedugout--zoom:hover a {
  opacity: 0.5;
  transform: scale(1.3);
}

.restomenu-lapalettedugout {
  background-color: #eaffea;
}
.restomenu-lapalettedugout h4 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 110px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .restomenu-lapalettedugout h4 {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lapalettedugout h4 {
    font-size: 40px;
    padding-bottom: 0px;
  }
}
.restomenu-lapalettedugout h5, .restomenu-lapalettedugout p {
  color: #000;
  font-family: "segoeregular", "Arial", sans-serif;
}
.restomenu-lapalettedugout .choice {
  font-size: 25px;
  padding-left: 200px;
}
@media screen and (max-width: 992px) {
  .restomenu-lapalettedugout .choice {
    font-size: 22px;
    padding-left: 100px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lapalettedugout .choice {
    width: 90%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.restomenu-lapalettedugout .price {
  font-size: 25px;
  padding-right: 200px;
  font-weight: lighter;
}
@media screen and (max-width: 992px) {
  .restomenu-lapalettedugout .price {
    font-size: 22px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 576px) {
  .restomenu-lapalettedugout .price {
    width: 90%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.restomenu-lapalettedugout h5 {
  display: flex;
  font-size: 35px;
  width: 100%;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .restomenu-lapalettedugout h5 {
    font-size: 30px;
  }
}

.firstpartmenu-lapalettedugout h5 span {
  position: relative;
}
.firstpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #06923a;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.firstpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.firstpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #06923a;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lapalettedugout h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.firstpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #06923a;
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lapalettedugout h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .firstpartmenu-lapalettedugout h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .firstpartmenu-lapalettedugout h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.secondpartmenu-lapalettedugout h5 span {
  position: relative;
}
.secondpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #72bf56;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.secondpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.secondpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #72bf56;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lapalettedugout h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.secondpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #72bf56;
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lapalettedugout h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .secondpartmenu-lapalettedugout h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .secondpartmenu-lapalettedugout h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.thirdpartmenu-lapalettedugout h5 span {
  position: relative;
}
.thirdpartmenu-lapalettedugout h5 span::before {
  content: "";
  background-color: #beff7d;
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 300ms;
}
.thirdpartmenu-lapalettedugout h5 span:hover::before {
  width: 100%;
  left: 0;
}
.thirdpartmenu-lapalettedugout h5::before {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #beff7d;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lapalettedugout h5::before {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
.thirdpartmenu-lapalettedugout h5::after {
  content: "";
  width: 30%;
  height: 8px;
  border-radius: 5px;
  background-color: #beff7d;
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lapalettedugout h5::after {
    width: 15%;
    height: 4px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .thirdpartmenu-lapalettedugout h5 {
    width: auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) {
  .thirdpartmenu-lapalettedugout h5 {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.footmenu-lapalettedugout h2 {
  font-family: "kaushanscript", cursive;
  background: linear-gradient(to right bottom, #06923a, #beff7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  font-size: 70px;
}
@media screen and (max-width: 992px) {
  .footmenu-lapalettedugout h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .footmenu-lapalettedugout h2 {
    font-size: 30px;
  }
}

/** END of Import of sass elements **/

/*# sourceMappingURL=style.css.map */
