.logo a{
	text-decoration: none;
	@include ohmyfoodtheme;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	padding-bottom: 40px;
	@include mobilesmall{
		padding-top: 20px;
		padding-bottom: 15px;
		font-size: 20px;
	}	
}
.restotitle{
	display: inline-flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.restomenu{
	display: inline-flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	max-width: 1190px;
	min-width:90%;
	margin: 50px;
	padding-top: 150px;
	@include boxshadow;
	@include mobilesmall{
		max-width: 100%;
		text-align: center;
		padding-top: 40px;
		margin-bottom: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
.restomenu h4, h5{
	text-align: center;

}
.firstpartmenu, .secondpartmenu, .thirdpartmenu{
	width: 100%;
	padding-top: 40px;
	
}
.course{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-bottom: 20px;
	@include mobilesmall{
		flex-direction: column;
	}
}
.course-title{
	padding-top: 50px;
	padding-bottom: 40px;
	justify-content: center;
	@include mobilesmall{
		padding-top: 0px;
		padding-bottom: 0px;
	}
}
.choice{
	display: flex;
	justify-content: flex-start;
	width: 90%;
	padding-left: 100px;
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	@include mobilemedium{
		text-align: left;
		font-size: 20px;
		padding-left: 30px;
	}
	@include mobilesmall{
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 0px;
		padding-top: 15px;
	}
}
.price{
	display: flex;
	justify-content: flex-end;
	width: 10%;
	padding-right: 100px;
	font-weight: bolder;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	@include mobilemedium{
		text-align: center;
		font-size: 25px;
		padding-right: 30px;
	}
	@include mobilesmall{
		font-size: 18px;
		width: 100%;
		justify-content: center;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 0px;
	}
}

.footmenu{
	text-align: center;
	padding-top: 90px;
	padding-bottom: 120px;
	@include mobilesmall{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
