/** Fonts **/
@font-face{
	font-family:'devonshire';
	src:url('../fontmenu/devonshire-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'segoebold';
	src:url('../fontmenu/Segoe_Print_Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'croissantone';
	src:url('../fontmenu/croissantone-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'segoeregular';
	src:url('../fontmenu/segoepr.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family:'kaushanscript';
	src:url('../fontmenu/kaushanscript-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
/** END of Fonts **/